<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
  <title>Spring Boot Test Samples</title>
</head>
<body>

<h2>レシピ一覧</h2>

<div>最大カロリー: <span th:text="${recipeSet.calMin().format(2)}"></span></div>
<div>最小カロリー: <span th:text="${recipeSet.calMax().format(2)}"></span></div>
<div>平均カロリー: <span th:text="${recipeSet.calAverage().format(2)}"></span></div>

<table>
  <thead>
  <tr>
    <th>レシピID</th>
    <th>レシピ名</th>
    <th>カロリー</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="recipe : ${recipeSet.all()}" th:object="${recipe}">
    <td th:text="*{id}"></td>
    <td th:text="*{name}"></td>
    <td th:text="*{cal}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>
